#content {
    max-width: 1600px;
    text-align: center;
    width: auto;
    margin: 0px auto 0px auto;
}
#hero-msg h1, h4 {
    text-align: center;
}
#hero {
    text-align: center;
}
#hero-img {
    width: 100%;
}
#background {
    height: 725px;
    background-color: bisque;
}
#logo_link {
    padding-top: 5px;
}
.home-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.button-box {
    text-align: center;
}
.book {
    text-decoration: none;
    background-color: #d9c2a3;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    text-decoration: none;
    background-color: #d9c2a3;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg {
    background-color: #6f7364;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    padding: 35px;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
.home-grid {
    text-align: center;
}
.card-img {
    width: 400px;
    height: 400px;
    border: 10px solid #d9c2a3;
}
.mountains {
    width: 700px;
    height: 400px;
}
.social img {
    padding-top: 15px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
p a{
    color: bisque;
    text-decoration: none;
}
main a {
    text-decoration: none;
    background-color: bisque;
    text-align: center;
}
header {
    color: white;
    text-align: left;
    text-decoration: none;
    background-color: rgb(62, 98, 62);
}
body {
    background-color: rgb(248, 248, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav {
    font-size: 1.2em;
}
nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: rgb(250, 241, 241);
    text-align: center;
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
    background-color: gray;
}
footer p a:hover {
    background-color: rgb(52, 47, 47);
    text-decoration: underline;
}
footer a {
    text-align: center;
    text-decoration: none;
}
footer {
    margin-top: 200px;
    color: bisque;
    text-decoration: none;
    text-align: left;
    background-color: gray;
    padding: 25px 50px;
}
footer .social img {
    padding-top: 15px;
}
